.experiencia{
    
    border: 1px solid rgb(236, 234, 234);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;

}
 ul{

margin-left: 30px;
margin-top: 25px;
}
h2{
    text-align: center;
}

