<div class="row">
    <h2>Proyectos Realizados</h2>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col.lj-7 parte1">
            <h3>Proyecto Integrador</h3>
            <p>Lorem ipsum dolor sit amet consectetur
                 adipisicing elit. Ipsa esse quasi, magnam 
                 enim quos fuga laudantium velit. Culpa ad,
                  eveniet nobis, reiciendis aliquid dicta 
                  molestias voluptatum assumenda tempore, 
                cupiditate nostrum!</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset.kg-1 parte2">
            <img src="../../../assets/configuraciones-de-la-aplicacion.png" alt="imagen" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
